@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video { display: inline-block;vertical-align: baseline;}
* {margin:0px;padding:0px;}
html{color:black;font-size:62.5%;}
body{color:#666;outline:0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;line-height: 1.5;background-color: #f8f8f8;word-spacing:-2px;}
input,select,textarea{font-size:100%;outline-style:none;}
input,button{border:none medium;outline:none;}
button, html input[type="button"], input[type="submit"]{cursor:pointer;}
button[disabled], html input[disabled]{cursor:default;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:500;}
ol,ul,li,dl,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:500;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
abbr,acronym{border:none;font-variant:normal;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0 none;vertical-align:middle;max-width: 100%;}
caption,th{text-align:left;}
th{text-align:inherit;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
del{text-decoration:line-through;}
legend{color:#666;}
fieldset{border:none;}
iframe{display:block;}
q:before,q:after{content:'';}
ins,a{text-decoration:none;cursor:pointer;color:#666;}
a:hover{text-decoration:none; color:#004684;-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;}
a:focus,*:focus{outline:none;}
.clearfix:before,.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;clear: both;}
.clear{clear:both;display:block;overflow:hidden;height:0;line-height:0;font-size:0;}
.hide{display:none !important;visibility:hidden;}
.block{display:block !important;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.none{display:none;}
.border0 {border: 0!important;}
input:focus,textarea:focus{outline: none;}
input,textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: 0;display: block;}