/*顶部*/
header{width: 100%;background-color: #FFFFFF;}
.top-box{height: 30px;background-color:#fff;}
.left-box{float: left;}
.left-box .item{padding-left: 24px;background-image: url(../images/top_hi.png);background-repeat: no-repeat;background-position: 0px center;line-height: 30px;}
.top-box span{display: inline-block;}
.right-box{float: right;}
.right-box span{display: inline-block;margin-left: 10px;}
.right-box .phone{background-position: 0px center;background-image: url(../images/top-phone.png);background-repeat: no-repeat;padding-left: 24px;line-height: 30px;}
.right-box .email{background-position: 0px center;background-image: url(../images/top-email.png);background-repeat: no-repeat;padding-left: 24px;line-height: 30px;}
.right-box a:hover{color: #004684;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}
/*logo*/
.logo{float: left;position: relative;padding-top: 15px;padding-bottom: 15px;}
.logo>a{display: block;}
.search{float: right;margin-top: 23px;}
.search form{float: left;background-color: #FFFFFF;border: 1px solid #999;}
.search .key{float: left;width: 152px;padding: 9px;border: medium none;line-height: 14px;color: #666;background-color: transparent;}
.search .go{float: left;width: 30px;height: 32px;border: medium none;text-indent: -9999px;cursor: pointer;background-image: url(../images/search.png);background-repeat: no-repeat;background-position: 0px center;}
/*导航*/nav{background-color: #004684;height: 48px;width: 100%;}
.nav{display:inline-block;height:48px;}
.nav li{float:left;height:48px;line-height:48px;position:relative;padding-top: 0;padding-bottom: 0;padding-right: 17px;padding-left: 17px;z-index: 69;}
.nav li.sub a{color:#fff;text-align: center;}
.nav li.sub:hover,.nav li.sub.cur{background:#002C52;}
.nav li.sub:hover p>a{background-color: #0062b8;}
.nav li .subNav{position:absolute;top:48px;z-index:69;line-height:normal;display:none;background-color: #0062b8;left: 0px;}
.nav li .subNav p a{color:#000;display:block;text-align: left;padding-top: 7px;padding-right: 12px;padding-bottom: 7px;padding-left: 12px;list-style-type: disc;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #00549e;}
.nav li .subNav p a:hover{color:#fff;}
.current{background:#002c52;}
/*banner*/.topbanner{height: auto;position:relative;width:100%;overflow:hidden;}
/*服务项目*/.fuwu{width: 100%;overflow: hidden;}
.fuwu .fuwu-list{display: block;float: left;height: auto;width: 23%;padding: 1%;background-image: url(../images/fuwu-list-bg.jpg);background-position: 0px 1000px;background-repeat: no-repeat;overflow: hidden;}
.fuwu .item{background-position: center center;height: 180px;width: 180px;border-radius: 50%;background-size:180px 180px;display: block;margin: auto;}
.fuwu .item1{background-image: url(../images/fuwu1.jpg);}
.fuwu .item2{background-image: url(../images/fuwu2.jpg);}
.fuwu .item3{background-image: url(../images/fuwu3.jpg);}
.fuwu .item4{background-image: url(../images/fuwu4.jpg);}
.fuwu .fuwu-title{font-weight: 600;color: #666;text-align: center;margin-top: 15px;margin-bottom: 15px;}
.fuwu p{color: #666;padding-right: 5px;padding-left: 5px;}
.fuwu a{display: block;width: 50%;padding-top: 5px;padding-bottom: 5px;border: 2px solid #004684;text-align: center;margin-top: 10px;margin-right: auto;margin-bottom: 10px;margin-left: auto;font-weight: 600;}
.fuwu .fuwu-list:hover a{color: #fff;background-color: #004684;-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;}
.fuwu .fuwu-list:hover{-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;background-position: 0px 0px;}
.fuwu .fuwu-list:hover .fuwu-title{-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;}
.fuwu .fuwu-list:hover .item{-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;color:#004684;-webkit-transition-delay: .4s;-moz-transition-delay: .4s;-ms-transition-delay: .4s;-o-transition-delay: .4s;transition-delay: .4s;transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
/*产品展示*/.service{width: 100%;overflow: hidden;padding-top: 15px;padding-bottom: 35px;height: auto;}
.service_item_one{margin-left: -5px;}
.custom{color: #666;text-align: center;padding-top: 20px;padding-bottom: 15px;}
.custom .custom-title{font-size: 15px;color: #333;font-weight: 600;}
.service li{float: left;width: 280px;height: auto;overflow: hidden;border-radius: 3px;background-color: #fff;transition: all .3s linear;cursor: pointer;position: relative;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ebebeb;margin-top: 0px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;}
.service li:hover{margin-top: 0px;}
.service_img{height: 200px;width: 280px;overflow:hidden;}
.service_img img{margin: auto;height: 200px;width: 280px;border-radius:0px;transition: all 0.5s;}
.service_item_one li:hover .service_img img{transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);-webkit-transform: scale(1.2);}
.service_item_one .content{color: #848484;text-align:center;left: 0px;width: 100%;margin-bottom: 10px;}
.service_item_one .content .content_tit{color: #565656;margin-top: 20px;font-weight: 600;}
.service_item_one .content .content_txt{padding: 10px;text-align: left;text-indent: 2em;}
.service_item_one .content a{display: none;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color: #FFFFFF;width: 50%;margin-top: 10px;margin-right: auto;margin-bottom: 0px;margin-left: auto;font-weight: 600;text-align: center;padding-top: 8px;padding-bottom: 8px;background-color: #004684;}
.service_item_one .content a:hover{background-color: #0033CC;}
.service_item_one li:hover a{display: block;}
.service_item_one li:hover .content .content_tit{color: #004684;}
/*关于*/
.about{background-repeat: no-repeat;background-position: left top;width: 100%;background-color: #d3e2ff;}
.about_content{text-indent: 2em;}
.about_content a{color: #000;margin-left: 25px;}
.friend{height:auto;overflow:hidden;width:1180px;margin-top: 15px;margin-right: auto;margin-bottom: 20px;margin-left: auto;}
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:28px;width:28px;margin-top: 120px;margin-bottom: 0;margin-left: 0;}
.mr_frUl{float:left;width:1120px;}
.mr_frBtnR{float:left;margin-top:120px;cursor:pointer;width:28px;height:28px;}
.mr_frUl ul li{display:inline;float:left;width:205px;overflow:hidden;position:relative;margin: 10px;}
.mr_frUl ul li a img{display:block;width:205px;}
/*新闻*/.news{background: #fff;padding-bottom: 20px;width: 100%;overflow: hidden;}
.news .news-item{display: block;}
.news .news-item li{display: block;margin-top: 20px;display: block;float: left;width: 49%;margin-left: 1%;}
.news li span{float: left;display: block;color: #999;height: auto;font-size: 14px;}
.news li i{font-size: 16px;line-height: 26px;color: #333;font-style: normal;display: block;}
.news li q{display: block;padding: 10px;background-color: #CCCCCC;color: #000;}
.news li p{display: block;border-left-width: 1px;border-left-style: solid;border-left-color: #ccc;padding-left: 10px;margin-left: 50px;}
.news li .news-title{font-weight: 600;display: block;}
.news li .more{display: block;clear: both;font-weight: 600;text-align: center;width: 120px;margin-top: 10px;margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;border: 2px solid #004684;text-align: center;}
.news li .more:hover{clear: both;color: #fff;background-color: #004684;-webkit-transition: all .5s ease-in-out 0s;-moz-transition: all .5s ease-in-out 0s;-ms-transition: all .5s ease-in-out 0s;-o-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;}
/*友链*/.link{display: block;padding-top: 10px;padding-bottom: 10px;}
.link-tit{font-size: 16px;color: #333;line-height: 32px;}
.link_con a{display: inline-block;margin-right: 10px;line-height: 32px;color: #999;}
.link_con a:hover{color: #ff6600;}
/*底部*/footer{padding-top: 30px;background-color: #333333;padding-bottom: 0px;}
.foot{height: auto;width: 100%;overflow: hidden;}
.foot_nav{width:100%;}
.foot_nav dl{float:left;width:25%;margin-bottom:15px;height: auto;}
.foot_nav dt{font-size:15px;color:#FFFFFF;margin-bottom:10px;font-weight: 600;}
.foot_nav dd span{font-size:15px;color:#FFFFFF;font-weight: 600;}
.foot_nav dd{padding-top: 4px;padding-bottom: 4px;}
.foot_nav,.foot_nav dd a{color:#CCCCCC;}
.foot_nav dd a:hover{color:#FFFFFF;text-decoration:underline;}
footer .bottom{text-align: center;color: #CCCCCC;padding-bottom: 8px;padding-top: 8px;background-color: #000000;}
footer .bottom a{color: #ccc;text-decoration: none;}
footer .bottom a:hover{color: #FFFFFF;text-decoration: underline;}
.dingyue{margin-top: 15px;height: 30px;}
.dingyue form{height: 30px;}
.dingyue-key{float: left;height: 28px;line-height: 28px;color: #999;background-color: #4d4d4d;border: 1px solid #4d4d4d;width: 70%;padding-left: 10px;-webkit-border-radius: 0;border-radius: 0;}
.dingyue-go{float: left;width: 60px;height: 30px;border: medium none;cursor: pointer;background-color: #2db578;color: #fff;-webkit-border-radius: 0;border-radius: 0;}
/*手机导航*/
.meun{background-color: #ce2222;display: block;height: 30px;width: 40px;position: absolute;top: 0px;z-index: 99;border-radius: 6px;right: 5px;padding-top: 5px;padding-bottom: 5px;}
.meun-nav{background: transparent;border: none;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;cursor: pointer;}
.meun-nav span{background-color: #fff;display: block;height: 3px;width: 30px;margin-top: 5.25px;margin-right: auto;margin-left: auto;}
.meunCont{background: #fff;display: none;padding-top: 0px;padding-right: 20px;padding-bottom: 0px;padding-left: 20px;position: absolute;z-index: 9999;width: 100%;top: 60px;}
.meunCont dl{border-top: 1px solid #e5e5e5;padding-bottom: 5px;padding-top: 5px;}
.meunCont dt{font-size: 15px;}
.meunCont dt a{color: #333;}
.meunCont dd{font-size: 14px;}
.meunCont dd a{color: #999;margin-top: 8px;margin-right: 8px;display: inline-block;}
.meunCont a:hover{color: #666;}
.wrap{margin-right: auto;margin-left: auto;position: relative;padding: 0px;margin-top: 0;margin-bottom: 0;}
.wrap::after{display: table;clear: both;content: "";}
/*返回顶部*/.fix-nav{display: none;position: fixed;left: 100%;bottom: 60px;width: 100%;margin-left: -60px;z-index:999;}
.fix-nav .fix-nav-wrap{background-color: rgba(0, 70, 132, 0.6);width: 32px;height: 32px;text-align: center;border-radius: 4px;cursor:pointer;}
.fix-nav .i-totop{width: 28px;display: block;margin: 0 auto;}
/*底部浮动*/.social_nav{height: 55px;width: 100%;position: fixed;left: 0px;bottom: 0px;background-color:#fff;z-index: 9999;}
.social_nav a{display: block;height: 55px;width: 25%;float: left;font-size: 13px;color: #333;text-align: center;line-height: 85px;position: relative;}
.social_nav .home{background-image: url(../images/foot1.png);background-repeat:no-repeat;background-size:24px 26px;background-position: center 5px;}
.social_nav .tel{background-image: url(../images/foot66.png);background-repeat:no-repeat;background-size:24px 26px;background-position: center 5px;}
.social_nav .sms{background-image: url(../images/foot3.png);background-repeat:no-repeat;background-size:26px 26px;background-position: center 5px;}
.social_nav .map{background-image: url(../images/foot4.png);background-repeat:no-repeat;background-size:22px 26px;background-position: center 5px;}
.social_nav img{position: absolute;padding-left: 15px;padding-top: 5px;width:24px;height:26px;animation-name: telshow;animation-duration: 1.0s;animation-timing-function: linear;animation-iteration-count: infinite;-webkit-animation-name: telshow;-webkit-animation-duration: 1.0s;-webkit-animation-timing-function: linear;-webkit-animation-iteration-count: infinite;-o-animation-name: telshow;-o-animation-duration: 1.0s;-o-animation-timing-function: linear;-o-animation-iteration-count: infinite;}
@keyframes telshow{0%{transform: rotate(0deg)}
5%{transform: rotate(-13deg)}
10%{transform: rotate(0deg)}
15%{transform: rotate(-13deg)}
20%{transform: rotate(0deg)}
25%{transform: rotate(-13deg)}
100%{transform: roate(0deg)}}
@-webkit-keyframes telshow{0%{-webkit-transform: rotate(0deg)}
5%{-webkit-transform: rotate(-13deg)}
10%{-webkit-transform: rotate(0deg)}
15%{-webkit-transform: rotate(-13deg)}
20%{-webkit-transform: rotate(0deg)}
25%{-webkit-transform: rotate(-13deg)}
100%{-webkit-transform: roate(0deg)}}
@media screen and (min-width:1200px){body{font-size:14px;}
.wrap{width: 1180px;}
.meun,.meunBox,.social_nav{display:none;}
.news li .news-title{font-weight: 600;display: block;white-space: nowrap;overflow: hidden;}}
@media screen and (min-width:992px) and (max-width:1199px){body{font-size:14px;}
.wrap{width: 960px;}
.meun,.meunBox,.social_nav{display:none;}
.nav{width:960px;}
.nav li{padding-right: 7px;padding-left: 7px;}
.fuwu .fuwu-title{min-height:40px;padding-bottom: 0px;margin-top: 5px;margin-bottom: 5px;}
.fuwu p{max-height:63px;overflow:hidden;}
.service li{width: 224px;margin-top: 20px;margin-right: 8px;margin-bottom: 10px;margin-left: 8px;}
.service_img{width: 224px;height:160px;}
.service_img img{width: 224px;height:160px;}
.friend{width:960px;}
.mr_frUl{width:900px;}
.mr_frUl ul li{width:171px;margin:5px;}
.mr_frUl ul li a img{display:block;width:171px;height: 225px;}
.mr_frBtnL,.mr_frBtnR{margin-top:96px;}
.news li .news-title{font-weight: 600;display: block;white-space: nowrap;overflow: hidden;}
.foot_nav dl{width:25%;}}
@media screen and (min-width:768px) and (max-width:991px){body{font-size:13px;}
.wrap{width: 740px;}
.left-box,nav,.search,.social_nav{display:none;}
.logo{margin-top: 10px;margin-bottom: 10px;float:none;}
.logo img{width:208px;
height:40px;}
.meun{top: 40px;}
.fuwu .item{height: 120px;width: 120px;background-size:120px 120px;}
.fuwu .fuwu-title{min-height:40px;padding-bottom: 0px;margin-top: 5px;margin-bottom: 5px;}
.service_item_one{width:740px;overflow:hidden;}
.service li{width: 230.66px;margin-top: 20px;margin-right: 8px;margin-bottom: 10px;margin-left: 8px;}
.service_img{width: 230.66px;height:165px;}
.service_img img{width: 230.66px;height:165px;}
.mr_frUl{width:680px;overflow:hidden;}
.mr_frUl ul li{width:160px;margin:5px;}
.mr_frUl ul li a img{display:block;width:160px;height: 210px;}
.mr_frBtnL,.mr_frBtnR{margin-top:90px;}
.news li .news-title{font-weight: 600;display: block;white-space: nowrap;overflow: hidden;}
.dingyue-key{width: 60%;}}
@media screen and (min-width:320px) and (max-width:767px){body{font-size:13px;}
.wrap{max-width:640px;}
.left-box,nav,.search,.right-box .phone,.right-box .email,.friend,.foot_nav_hidd,.top-box{display:none;}
.logo{padding-top: 10px;padding-bottom: 10px;float:none;}
.logo img{width:208px;
height:40px;}
.meun{top: 10px;}
.fuwu .fuwu-list{width: 46%;padding: 2%;}
.fuwu .item{height: 80px;width: 80px;background-size:80px 80px;}
.fuwu a{width: 80%;}
.fuwu .fuwu-title{min-height:40px;padding-bottom: 0px;margin-top: 2px;margin-bottom: 2px;}
.fuwu p{max-height:55px;overflow:hidden;}
.service{padding-bottom: 15px;}
.service_item_one{width:100%;overflow:hidden;margin-left: 0px;}
.service li{width: 100%;margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:10px;}
.service li:hover{margin-top: 0px;}
.service_img,.service_item_one .content{width: 90%;height:auto;margin:auto;padding-top:2%;}
.service_img img{width: 100%;}
.service_item_one .content a{display: block;margin-bottom:15px;}
.about{height: auto;}
.about{padding-bottom:10px;}
.news .news-item li{width: 96%;margin:auto;float:none;}
footer .bottom{padding-bottom: 65px;}
.link,.foot_nav,.foot_nav dl,.about_content,.custom,.foot_nav dl{width:90%;margin:auto;float:none;}
.dingyue{margin-top: 0px;margin-bottom:8px;}
.dingyue-key{width: 60%;}
.foot_nav dt{padding-left:35px;}
.foot_nav .lianxi_icon{background-image:url(../images/contact_bg.png);background-repeat:no-repeat;}
.foot_nav .lianxi_tel{background-position:0 -3px;}
.foot_nav .lianxi_mobile{background-position:0 -33px;}
.foot_nav .lianxi_email{background-position:0 -63px;}
.foot_nav .lianxi_address{background-position:0 -93px;}
.foot_nav dd{padding-top: 4px;padding-bottom: 4px;padding-left:30px;}}