{extend name="layout" /}
{block name="content"}
{foreach $articles['data'] as $article}
<div class="card">
  <!-- <img class="card-img-top" src="..." alt="{$article['title']}"> -->
  <div class="card-body">
    <h5 class="card-title"><a href="/article/{$article['id']}">{$article['title']}</a></h5>
    <p class="card-text">
        <div style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" class="text-muted">
          {:strip_tags($article['content'])}
        </div>
    </p>
    <div class="card-footer text-right">
      本文由{$article['author']}发表于{$article['create_time']}
    </div>
  </div>
</div>
{/foreach}
<div class="card" style="padding-top: 30px;">
{$page}
</div>
{/block}