<!DOCTYPE html>
<html>
<head>
	<title>ceshi</title>
</head>
<body>
<form id="ttt">
	<input type="text" id="phone" name="phone" value="13852292859">
	<input type="text" id="password" name="password" value="123456">
	<input type="text" id="type" name="type" value="3">
	<input type="text" id="token" name="token" value="$2y$10$0SpHMBLYpLjD8C7FlxSxzOwI8EloNQmhCii/3W6SIL0Cti/T.va3e">
</form>
<button id="t">提交</button>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$('#t').click(function(){
		$.ajax({
			url:'http://home.youjia.com/auth/login',
			method:'post',
			data:{
				phone:$('#phone').val(),
				password:$('#password').val(),
				type:$('#type').val(),
				token:$('#token').val(),
			},
			success:function(data){
				window.location.href = 'http://home.youjia.com/';
			},
			complete:function(data){
				window.location.href = 'http://home.youjia.com/';
			}
		});
	});
</script>
</body>
</html>