{extend name=":layout"}
{block name="content"}
<!--banner开始 -->
<section class="topbanner">
    <div class="banner">
      <div id="wrapper">
        <div class="fullwidthbanner-container">
          <div class="fullwidthbanner">
            <ul>
                <li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300" data-link="javascript:void(0)"> <img src="/upload/images/2018/2/317414729.jpg" alt="banner002" /> 
                </li>
                <li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300" data-link="javascript:void(0)"> <img src="/upload/images/2018/2/3173913841.jpg" alt="banner001" /> 
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--banner结束 -->
  <!--项目开始 -->
  <section class="fuwu">
    <div class="wrap">
      <div class="custom wow fadeInLeftBig">
        <div class="custom-title">市场服务</div>
        <p>相信我国的共享办公空间领域在跨越过同质化、营利性竞争等难题后，会在实际产业上精耕细作，为创新型国家孵化出一个又一个的超级企业。同时也让人民群众切实看到企业从小到大规模的变化过程。</p>
      </div>
      <div class="clearfix">
        
          <div class="fuwu-list wow fadeInUpBig"> <i class="item item电信和网络" style="background:url(/upload/images/2018/2/3174919744.jpg);"></i>
            <div class="fuwu-title">电信和网络</div>
            
            <a href="/channels/743.html">阅读更多</a>
          </div>
        
          <div class="fuwu-list wow fadeInUpBig"> <i class="item item医疗系统" style="background:url(/upload/images/2018/2/317502497.jpg);"></i>
            <div class="fuwu-title">医疗系统</div>
            
            <a href="/channels/744.html">阅读更多</a>
          </div>
        
          <div class="fuwu-list wow fadeInUpBig"> <i class="item item清洁技术" style="background:url(/upload/images/2018/2/3175220368.jpg);"></i>
            <div class="fuwu-title">清洁技术</div>
            
            <a href="/channels/745.html">阅读更多</a>
          </div>
        
          <div class="fuwu-list wow fadeInUpBig"> <i class="item item计算和存储" style="background:url(/upload/images/2018/2/3175341315.jpg);"></i>
            <div class="fuwu-title">计算和存储</div>
            
            <a href="/channels/746.html">阅读更多</a>
          </div>
        
      </div>
    </div>
  </section>
  <!--项目结束 -->
  <!--产品开始 -->
  <section class="service">
    <div class="wrap">
      <div class="service_item">
        <div class="custom wow fadeInRight">
          <div class="custom-title">制造服务</div>
          <p>根据VC SaaS监测数据显示在2017年我国共享办公空间的数量已经达到3459家，预计在2020年将会超过5000家。</p>
        </div>
        <div class="service_item_one wow slideInLeft">
          <ul>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/3165022860.jpg" /></div>
                <div class="content">
                  <div class="content_tit">有道周枫：流量成就不了互联网...</div>
                  <div class="content_txt">时间一刻不停地迈入2018年，身处互联网和教育行业， 每到年底的...</div>
                  <a href="/contents/748/2408.html">查看更多</a></div>
              </li>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/3164213511.jpg" /></div>
                <div class="content">
                  <div class="content_tit">微视杀了个回马枪，腾讯为什么...</div>
                  <div class="content_txt">2017年才是短视频最好的时光，是真正意义上的爆发元年，然而此时...</div>
                  <a href="/contents/748/2407.html">查看更多</a></div>
              </li>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/3163859139.jpg" /></div>
                <div class="content">
                  <div class="content_tit">一张图告诉你2017教育行业各个...</div>
                  <div class="content_txt">在偌大的教育行业中，哪个细分赛道在2017年吸金最多？哪个细分赛...</div>
                  <a href="/contents/748/2406.html">查看更多</a></div>
              </li>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/3163730371.jpg" /></div>
                <div class="content">
                  <div class="content_tit">法国短视频服务平台「Wildmoka...</div>
                  <div class="content_txt">在线视频的网络、移动端和社交平台分发已经成为媒体公司和播主争...</div>
                  <a href="/contents/748/2405.html">查看更多</a></div>
              </li>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/316344356.jpg" /></div>
                <div class="content">
                  <div class="content_tit">当微信小程序被不法分子“用完...</div>
                  <div class="content_txt">张小龙对小程序的定位，但没想到是，这四个字现在却被某些不法分...</div>
                  <a href="/contents/750/2479.html">查看更多</a></div>
              </li>
            
              <li>
                <div class="service_img"><img src="/upload/images/2018/2/316244803.jpg" /></div>
                <div class="content">
                  <div class="content_tit">科技神回复 | A站已无法访问，...</div>
                  <div class="content_txt">微信6.6.2安卓版正式上线，终于可以感受一把“双卡双待”的待遇...</div>
                  <a href="/contents/750/2478.html">查看更多</a></div>
              </li>
            
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery.superslide.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      /* 图片滚动效果 */
      $(".service_item").slide({
      titCell: "",
      mainCell: ".service_item_one ul",
      autoPage: true,
      effect: "leftLoop",
      autoPlay: true,
      vis: 4
      });  
      });
    </script>
  </section>
  <!--产品结束 -->
  <!--about开始 -->
  <section class="about">
    <div class="wrap">
      <div class="custom">
        <div class="custom-title  wow bounce">质量保证</div>
      </div>
      <div class="about_content wow fadeInUpBig">
        <p>在复杂的战略游戏中，机器已经超越了人类，更不用说图像识别，语音转录，以及其他的进步，这些都使我们对判断什么是人类，什么不是人类的假设更加复杂。基于语音的个人助理是司空见惯的，而完全自动化的车辆似乎就要在马路上开起来了。</p>
      </div>
      <div class="friend">
        <div class="mr_frbox"> <img class="mr_frBtnL prev" src="/images/a_left.png" />
          <div class="mr_frUl">
            <ul id="mr_fu">
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/3181019969.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/318104205.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/3181019969.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/318104205.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/3181019969.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/318104205.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/3181019969.jpg" /></a></li>
              
                <li><a href="javascript:;"> <img src="/upload/images/2018/2/318104205.jpg" /></a></li>
              
            </ul>
          </div>
          <img class="mr_frBtnR next" src="/images/a_right.png" /> </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function () {
        /* 图片滚动效果 */
        $(".mr_frbox").slide({
        titCell: "",
        mainCell: ".mr_frUl ul",
        autoPage: true,
        effect: "leftLoop",
        autoPlay: true,
        vis: 5
        });  
        });
      </script>
    </div>
  </section>
  <!--about结束 -->
  <!--新闻开始 -->
  <section class="news">
    <div class="wrap">
      <div class="custom">
        <div class="custom-title wow bounceIn">新闻动态</div>
        <p>媒体炒作并不新颖。正如许多人所知，宣传和社交媒体营销的界线通常是模糊的。除此以外，那些通过点赞、评论和订阅量等公共信号宣传产品特点的公司都熟知，任何被创造的系统都将成为娱乐、利益、政治、意识形态和权力游戏的舞台。甚至连国会现在都在为此斗争。</p>
      </div>
      <div class="news-item wow slideInUp">
        <ul>
          
            <li> <span><i>02-03</i><q>2018</q></span>
              <p><a href="/contents/764/2483.html" class="news-title">有道周枫：流量成就不了互联网教育行业，真正门槛在“内容+服务+技...</a>时间一刻不停地迈入2018年，身处互联网和教育行业， 每到年底的这...<a href="/contents/764/2483.html" class="more wow bounceInUp" data-wow-delay="0.3s">查看更多</a></p>
            </li>
          
            <li> <span><i>02-03</i><q>2018</q></span>
              <p><a href="/contents/764/2482.html" class="news-title">微视杀了个回马枪，腾讯为什么要亲自动手做短视频了？</a>2017年才是短视频最好的时光，是真正意义上的爆发元年，然而此时微...<a href="/contents/764/2482.html" class="more wow bounceInUp" data-wow-delay="0.3s">查看更多</a></p>
            </li>
          
            <li> <span><i>02-03</i><q>2018</q></span>
              <p><a href="/contents/764/2481.html" class="news-title">一张图告诉你2017教育行业各个细分赛道有多贵</a>在偌大的教育行业中，哪个细分赛道在2017年吸金最多？哪个细分赛道...<a href="/contents/764/2481.html" class="more wow bounceInUp" data-wow-delay="0.3s">查看更多</a></p>
            </li>
          
            <li> <span><i>02-03</i><q>2018</q></span>
              <p><a href="/contents/764/2480.html" class="news-title">法国短视频服务平台「Wildmoka」完成A轮800万美元融资</a>在线视频的网络、移动端和社交平台分发已经成为媒体公司和播主争夺...<a href="/contents/764/2480.html" class="more wow bounceInUp" data-wow-delay="0.3s">查看更多</a></p>
            </li>
          
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!--新闻结束 -->
{/block}