{extend name="layout" /}
{block name="content"}

<div class="card">
  {if condition="!empty($article)"}
  <div class="card-header">
    <h1>{$article['title']}</h1>
  </div>
  <div class="card-body  {$article['markdown']? 'markdown-body' : ''}">
    {$article['content']}
    <div>
      <img src="{$company['header']}" width="25" height="25" title="{$article['author']}" alt="{$article['author']}">{$article['author']} {$article['create_time']}
  </div>
  </div>

  {else /}
  <div class="card-header">
    <h1>oh~出错了呢！</h1>
  </div>
  {/if}
</div>
{/block}