@charset "utf-8";
h1 {
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #666;
}

a:hover {
    text-decoration: none;
    color: #004684;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

a:focus {
    outline: none;
}

.clearfix:before,
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
}


/*顶部*/

header {
    width: 100%;
    background-color: #FFFFFF;
}


/*logo*/

.logo {
    float: left;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo>a {
    display: block;
}

.wrap {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.wrap::after {
    display: table;
    clear: both;
    content: "";
}

@media screen and (min-width:1200px) {
    .wrap {
        width: 1180px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .wrap {
        width: 960px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .wrap {
        width: 740px;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        float: none;
    }
    .logo img {
        width: 208px;
        height: 40px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .wrap {
        max-width: 640px;
    }
    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        float: none;
    }
    .logo img {
        width: 208px;
        height: 40px;
    }
}
