@charset "utf-8";
#zotikos_head  h1 {
    font-weight: 500;
}

#zotikos_head a {
    text-decoration: none;
    cursor: pointer;
    color: #666;
}

#zotikos_head a:hover {
    text-decoration: none;
    color: #004684;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

#zotikos_head a:focus {
    outline: none;
}
/*顶部*/

#zotikos_head header {
    width: 100%;
    background-color: #FFFFFF;
}


/*logo*/

#zotikos_head .logo {
    float: left;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

#zotikos_head .logo>a {
    display: block;
}

#zotikos_head .wrap {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

#zotikos_head .wrap::after {
    display: table;
    clear: both;
    content: "";
}

@media screen and (min-width:1200px) {
    #zotikos_head .wrap {
        width: 1180px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #zotikos_head .wrap {
        width: 960px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #zotikos_head .wrap {
        width: 740px;
    }
    #zotikos_head .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        float: none;
    }
    #zotikos_head .logo img {
        width: 208px;
        height: 40px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    #zotikos_head .wrap {
        max-width: 640px;
    }
    #zotikos_head .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        float: none;
    }
    #zotikos_head .logo img {
        width: 208px;
        height: 40px;
    }
}